.truncate {
  display: inline-flex;
  min-width: 0;
  max-width: 100%;

  > .truncate-text {
    min-width: 1ch;
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
