$spacer: 8px;

// Our spacing scale
$spacer-0: 0; // 0
$spacer-1: $spacer * 0.5; // 4px
$spacer-2: $spacer; // 8px
$spacer-3: $spacer * 2; // 16px
$spacer-4: $spacer * 3; // 24px
$spacer-5: $spacer * 4; // 32px
$spacer-6: $spacer * 5; // 40px

// The list of spacer values
$spacers: ($spacer-0, $spacer-1, $spacer-2, $spacer-3, $spacer-4, $spacer-5, $spacer-6);

$spacer-map: (
  0: $spacer-0,
  1: $spacer-1,
  2: $spacer-2,
  3: $spacer-3,
  4: $spacer-4,
  5: $spacer-5,
  6: $spacer-6,
);

// Em spacer variables
$em-spacer-1: 0.0625em; // 1/16
$em-spacer-2: 0.125em; // 1/8
$em-spacer-3: 0.25em; // 1/4
$em-spacer-4: 0.375em; // 3/8
$em-spacer-5: 0.5em; // 1/2
$em-spacer-6: 0.75em; // 3/4

// Size scale
// Used for buttons, inputs, labels, avatars etc.
$size: 16px;

$size-0: 0;
$size-1: $size; // 16px
$size-2: $size-1 + 4px; // 20px
$size-3: $size-2 + 4px; // 24px
$size-4: $size-3 + 4px; // 28px
$size-5: $size-4 + 4px; // 32px
$size-6: $size-5 + 8px; // 40px
$size-7: $size-6 + 8px; // 48px
$size-8: $size-7 + 16px; // 64px

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 1012px,
  xl: 1280px,
);

// Z-index
$z-index: (
  details-overlay: 500,
  select-menu-overlay: 510,
  dropdown: 600,
  header: 900,
  flash: 910,
  sidebar-overlay: 950,
  sidebar: 1000,
  toast: 1100,
);
