.details-overlay[open] > summary::before {
  position: fixed;
  @include inset-0;
  z-index: z(details-overlay);
  display: block;
  cursor: default;
  content: ' ';
  background: transparent;
}

.details-overlay-dark[open] > summary::before {
  z-index: z(details-overlay-dark);
  background: var(--color-canvas-overlay);
}

.details-reset {
  display: inline-block;

  > summary {
    list-style: none;
  }

  > summary::before {
    display: none;
  }

  > summary::-webkit-details-marker {
    display: none;
  }
}
