.h1 {
  font-size: $h1-size-mobile !important;

  @include breakpoint(md) {
    font-size: $h1-size !important;
  }
}

.h2 {
  font-size: $h2-size-mobile !important;

  @include breakpoint(md) {
    font-size: $h2-size !important;
  }
}

.h3 {
  font-size: $h3-size-mobile !important;

  @include breakpoint(md) {
    font-size: $h3-size !important;
  }
}

.h4 {
  font-size: $h4-size !important;
}

.h5 {
  font-size: $h5-size !important;
}

.h6 {
  font-size: $h6-size !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $font-weight-bold !important;
}

.f1 {
  font-size: $h1-size-mobile !important;

  @include breakpoint(md) {
    font-size: $h1-size !important;
  }
}

.f2 {
  font-size: $h2-size-mobile !important;

  @include breakpoint(md) {
    font-size: $h2-size !important;
  }
}

.f3 {
  font-size: $h3-size-mobile !important;

  @include breakpoint(md) {
    font-size: $h3-size !important;
  }
}

.f4 {
  font-size: $h4-size !important;

  @include breakpoint(md) {
    font-size: $h4-size !important;
  }
}

.f5 {
  font-size: $h5-size !important;
}

.f6 {
  font-size: $h6-size !important;
}

// Text alignment
$text-alignment-map: (left, center, right);

@each $breakpoint in map-keys($breakpoints) {
  $variant: breakpoint-infix($breakpoint);

  @include breakpoint($breakpoint) {
    @each $prop in $text-alignment-map {
      .text-#{$variant}#{$prop} {
        text-align: $prop !important;
      }
    }
  }
}

// Line height
.lh-condensed-ultra {
  line-height: $lh-condensed-ultra !important;
}

.lh-condensed {
  line-height: $lh-condensed !important;
}

.lh-default {
  line-height: $lh-default !important;
}

.lh-0 {
  line-height: 0 !important;
}

// Text styles
.text-normal {
  font-weight: $font-weight-normal !important;
}

.text-bold {
  font-weight: $font-weight-bold !important;
}

.text-semibold {
  font-weight: $font-weight-semibold !important;
}

.text-italic {
  font-style: italic !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-underline {
  text-decoration: underline !important;
}

.no-underline {
  text-decoration: none !important;
}

// List styles
.list-style-none {
  list-style: none !important;
}

/* Set to monospace font */
.text-mono {
  font-family: $mono-font !important;
}
