.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: $lh-condensed-ultra;
  vertical-align: middle;
  border-radius: $border-radius;
  flex-shrink: 0;
  background-color: var(--color-canvas-muted);
  box-shadow: var(--color-shadow-sm);
}

// Sizes
.avatar--1,
.avatar--2,
.avatar-small {
  border-radius: $border-radius-1;
}

// Sizes

@mixin avatar-size($size) {
  width: $size;
  height: $size;
}

.avatar--1 {
  @include avatar-size($size-1);
}

.avatar--2 {
  @include avatar-size($size-2);
}

.avatar--3 {
  @include avatar-size($size-3);
}

.avatar--4 {
  @include avatar-size($size-4);
}

.avatar--5 {
  @include avatar-size($size-5);
}

.avatar--6 {
  @include avatar-size($size-6);
}

.avatar--7 {
  @include avatar-size($size-7);
}

.avatar--8 {
  @include avatar-size($size-8);
}

// State
.avatar--circle {
  border-radius: 50%;
}

.avatar--more {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  color: var(--color-fg-muted);
  font-size: $h6-size;
}
